<table style="background:#fff;margin:0 auto;max-width:800px;padding:20px 40px;width:100%">
    <tbody><tr>
      <td valign="top">
  <table cellspacing="0" cellpadding="0" style="width:100%">
    <tbody>
    <tr>
      <td class="m_-855365366826048964header__logo" style="padding:10px 0;text-align:left">
        <a href="https://www.pilulka.cz?utm_source=email&amp;utm_medium=transactional&amp;utm_campaign=user-was-registered&amp;hash=1764622_d341f472e5feeca9776dc2f5dc86a790" style="color:#ec028c" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.pilulka.cz?utm_source%3Demail%26utm_medium%3Dtransactional%26utm_campaign%3Duser-was-registered%26hash%3D1764622_d341f472e5feeca9776dc2f5dc86a790&amp;source=gmail&amp;ust=1610529362859000&amp;usg=AFQjCNGHh4N8EJ4sXfxQ5uIJlkdG7j_oog">
          <img src="https://www.pilulka.cz/email/cs/header-logo.png" width="200" height="44" border="0" class="CToWUd">
        </a>
      </td>
    </tr>
    </tbody>
  </table>
            <p style="font-size:15px;line-height:22px;margin:15px 0;padding:0;font-weight:bold">Dobrý den,</p>
  
      <p style="font-size:15px;line-height:22px;margin:15px 0;padding:0">
          Přihlášení na Pilulka.cz provedete pomocí e-mailu <strong><a href="mailto:respect9888@gmail.com" target="_blank">respect9888@gmail.com</a></strong>.
          Z bezpečnostních důvodů neposíláme Vaše heslo.
      </p>
  
      <h2 style="font-size:15px;margin:40px 0 0 0;padding:0">
          Jaké výhody Vám přináší účet Pilulka Klubu?
      </h2>
  
      <table class="m_-855365366826048964pill-car" style="border-collapse:collapse;border-spacing:0;margin:20px 0;vertical-align:top;width:100%">
          <tbody>
          <tr>
              <td>
                 <span style="display:block;font-size:15px;padding:7px 0">
                     <span style="background:#ec028c;border-radius:50%;display:inline-block;height:8px;margin:0 5px 2px 0;width:8px"></span>
                     Získáváte přístup k našim <strong>výhodným nabídkám a akcím</strong>
                 </span>
  
                  <span style="display:block;font-size:15px;padding:7px 0">
                     <span style="background:#ec028c;border-radius:50%;display:inline-block;height:8px;margin:0 5px 2px 0;width:8px"></span>
                      Za doporučení kamaráda Vám <strong>dáme 50 Kč</strong>
                 </span>
  
                  <span style="display:block;font-size:15px;padding:7px 0">
                     <span style="background:#ec028c;border-radius:50%;display:inline-block;height:8px;margin:0 5px 2px 0;width:8px"></span>
                      Za nákupy na <a href="https://www.pilulka.cz" style="color:#ec028c" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.pilulka.cz&amp;source=gmail&amp;ust=1610529362860000&amp;usg=AFQjCNHnkijHHPzE41n0-IzJyZZU_VRLPw">Pilulka.cz</a> nebo v našich lékárnách získáte další výhody
                 </span>
                  <span style="display:block;padding:5px 0"></span>
              </td>
          </tr>
          </tbody>
      </table>
  
      <span style="text-align:center;display:block">
         <a href="https://www.pilulka.cz/proc-nakupovat-na-pilulka-cz?utm_source=email&amp;utm_medium=transactional&amp;utm_campaign=user-was-registered&amp;hash=1764622_d341f472e5feeca9776dc2f5dc86a790" style="background:#ec028c;border-radius:4px;color:#fff;display:inline-block;font-weight:700;margin:16px auto 32px;padding:15px 25px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.pilulka.cz/proc-nakupovat-na-pilulka-cz?utm_source%3Demail%26utm_medium%3Dtransactional%26utm_campaign%3Duser-was-registered%26hash%3D1764622_d341f472e5feeca9776dc2f5dc86a790&amp;source=gmail&amp;ust=1610529362860000&amp;usg=AFQjCNFVxVJ-wXkmMJBrJcj-SWzEIbYuDA">
             Více informací o nakupování s Pilulkou &nbsp;»
         </a>
     </span>
  
      <p style="font-size:15px;line-height:22px;margin:15px 0;padding:0">
          Hezký den Vám přeje tým Pilulka.cz
      </p>
      </td>
    </tr>
  </tbody></table>